{% extends "layout.html" %}
{% from "macros/seq.html" import seq_simple %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <div class="container">
  <h2>{{ this.title }}</h2>
    <table class='list-table'>
    <tr>
    <td></td><td></td><td></td>
    {% for impl, params in bag('impls').items() %}
    <th data-impl="{{impl}}">{{impl}}</th>
    {% endfor %}
    </tr>
    {% for s in this.children %}
    <tr>
    <td>{{ s.number }}</td><td>&nbsp;&nbsp;</td><td><a href='{{ s|url }}'>{{ s.title }}</a></td>
    {% for impl, params in bag('impls').items() %}
        <td data-impl="{{impl}}" class="impl-status">
        {% if s.implnotes %}
        {% for blk in s.implnotes.blocks %}
        {% if impl == blk.impl %}
        {% if blk.level == "full" %}
        ✔
        {% elif blk.level == "partial" %}
        ✓
        {% elif blk.level == "ignored" %}
        ∅
        {% elif blk.level == "unparsable" %}
        ☹
        {% elif blk.level == "todo" %}
        todo
        {% endif %}
        {% endif %}
        {% endfor %}
        {% endif %}
        </td>
    {% endfor %}
    </tr>
    {% endfor %}
  </div>
{% endblock %}
